In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
df = pd.read_csv('Diwali Sales Data.csv' ,encoding= 'unicode_escape')

In [4]:
df.shape

(11251, 13)

In [5]:
df.head()

,user_id,cust_name,product_id,gender,group_age,age,marital_status,state,zone,occupation,product_category,orders,amount
0,1002903,Sanskriti,P00125942,F,26-35,28,0,Maharashtra,Western,Healthcare,Auto,1,23952.0
1,1000732,Kartik,P00110942,F,26-35,35,1,Andhra Pradesh,Southern,Govt,Auto,3,23934.0
2,1001990,Bindu,P00118542,F,26-35,35,1,Uttar Pradesh,Central,Automobile,Auto,3,23924.0
3,1001425,Sudevi,P00237842,M,0-17,16,0,Karnataka,Southern,Construction,Auto,2,23912.0
4,1000588,Joni,P00057942,M,26-35,28,1,Gujarat,Western,Food Processing,Auto,2,23877.0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11251 entries, 0 to 11250
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   user_id           11251 non-null  int64
 1   cust_name         11251 non-null  object
 2   product_id        11251 non-null  object
 3   gender            11251 non-null  object
 4   group_age         11251 non-null  object
 5   age               11251 non-null  int64
 6   marital_status    11251 non-null  int64
 7   state             11251 non-null  object
 8   zone              11251 non-null  object
 9   occupation        11251 non-null  object
 10  product_category  11251 non-null  object
 11  orders            11251 non-null  int64
 12  amount            11239 non-null  float64
dtypes: float64(1), int64(4), object(8)
memory usage: 1.1+ MB

In [7]:
df.drop(['Status', 'unnamed1'], axis= 1 , inplace=True)

KeyError: "['Status', 'unnamed1'] not found in axis"

In [ ]:
df.info()

In [ ]:
pd.isnull(df).sum()

In [ ]:
df.dropna(inplace= True)

In [ ]:
pd.isnull(df).sum()

In [ ]:
df['Amount']= df['Amount'].astype('int')

In [ ]:
df['Amount'].dtype

In [ ]:
df.columns

In [ ]:
df.rename(columns={'Cust_name':'Name'})

In [ ]:
df.describe()

#exploratory data analysis

In [ ]:
ax = sns.countplot(x='Gender', data=df)
for bars in ax.containers:
    ax.bar_label(bars)

In [ ]:
gen_amt = df.groupby(['Gender'], as_index=False)['Amount'].sum().sort_values(by='Amount', ascending= False)
sns.barplot(x='Gender',y='Amount', data=gen_amt)

*From above barchart we can see that women have spent more money than men and have more purchasing power*

In [ ]:
y = sns.countplot(data=df, x='Age Group', hue='Gender')
for bars in y.containers:
    y.bar_label(bars)

In [ ]:
df.columns

In [ ]:


age_amt = df.groupby(['group_age','gender'], as_index=False)['amount'].sum().sort_values(by='amount', ascending= False)
sns.barplot(x='group_age',y='amount', data=age_amt, hue='gender')

*from above graph we can see that female of age group 26-35 have high spending capacity*

In [ ]:
state_order = df.groupby(['State'], as_index=False)['Orders'].sum().sort_values(by='Orders',ascending= False).head(12)
sns.set(rc={'figure.figsize':(25,8)})
sns.barplot(data=state_order, x="State", y='Orders')

In [ ]:
state_amt = df.groupby(['State'], as_index=False)['Amount'].sum().sort_values(by='Amount',ascending= False).head(12)
sns.set(rc={'figure.figsize':(25,8)})
sns.barplot(data=state_amt, x="State", y='Amount')

*From above graphs we can see that most of the orders & total sales/amount are from Uttar Pradesh, Maharashtra and Karnataka respectively*

In [ ]:
t = sns.countplot(data=df, x= 'Marital_Status')
sns.set(rc={'figure.figsize':(7,5)})
for bars in t.containers:
    t.bar_label(bars)

In [ ]:
marr_amt = df.groupby(['Marital_Status','Gender'], as_index=False)['Amount'].sum().sort_values(by='Amount', ascending= False)
sns.barplot(x='Marital_Status',y='Amount', data=marr_amt, hue='Gender')

From above graphs we can see that most of the buyers are married (women) and they have high purchasing power

In [ ]:
sns.set(rc={'figure.figsize':(20,5)})
ax = sns.countplot(data = df, x = 'Occupation', order=df['Occupation'].value_counts(ascending=False).index)

for bars in ax.containers:
    ax.bar_label(bars)

In [ ]:
occ_amt = df.groupby(['Occupation'], as_index=False)['Amount'].sum().sort_values(by='Amount', ascending=False)
sns.barplot(data=occ_amt, x='Occupation', y ='Amount')

From above graphs we can see that most of the buyers are working in IT, Healthcare and Aviation sector

#product category

In [ ]:
df.columns

In [ ]:
pdt_amt = df.groupby(['Product_Category'], as_index=False)['Amount'].sum().sort_values(by='Amount', ascending=False).head(10)
sns.barplot(data=pdt_amt, x='Product_Category', y ='Amount')
sns.set(rc={'figure.figsize':(28,5)})

From above graphs we can see that most of the sold products are from Food, Clothing and Electronics category

In [ ]:
sales_state = df.groupby(['Product_ID'], as_index=False)['Orders'].sum().sort_values(by='Orders', ascending=False).head(10)

sns.set(rc={'figure.figsize':(20,5)})
sns.barplot(data = sales_state, x = 'Product_ID',y= 'Orders')

Conclusion:
Married women age group 26-35 yrs from UP, Maharastra and Karnataka working in IT, Healthcare and Aviation are more likely to buy products from Food, Clothing and Electronics category